@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&display=swap");

body {
  background-color: #433f55;
  margin: 0;
}

h2 {
  font-size: 10rem;
  font-family: "Fira Sans", sans-serif;
  color: #dcf2b0;
  text-shadow: 3px 3px 0px #59c3c3;

  animation-name: scaleIn;
  animation-duration: 2s;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@keyframes scaleIn {
  0% {
    transform: scale(0.2);
  }
  85% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
